*{
    font-family: 'Roboto','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',Meiryo, メイリオ,Helvetica, Arial, sans-serif;
}
.admin_container{
    background-color: #212121;
    height: 100vh;

    h1.main_title{
        color: #fafafa;
    }
}
